{# Check if the user has sent invitations (use the Webform module) #}
{% if drupal_view_result('utilisateur_page_liste_des_taches_aucune_invitation', 'block_1') is empty %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Vous n'avez invité personne à rejoindre le site. <a href="/user/{{ user.id }}/invitations" class="alert-link">Envoyer une invitation.</a>
  </div>
{% else %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, vous avez invité {{ drupal_view_result('utilisateur_page_liste_des_taches_aucune_invitation', 'block_1')|length }} personne(s) à rejoindre le site.
  </div>
{% endif %}

{# Check if the user has a profile picture #}
{% if drupal_view_result('utilisateur_page_liste_des_taches_aucune_photo', 'block_1') is empty %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Vous n'avez ajouté aucune photo à votre profil. <a href="/user/{{ user.id }}/edit" class="alert-link">Ajouter une photo.</a>
  </div>
{% else %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, vous avez ajouté une photo à votre profil.
  </div>
{% endif %}

{# Check if the user has created a group (use the Group module) #}
{% if drupal_view_result('utilisateur_page_liste_des_taches_aucun_groupe', 'block_1') is empty %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Vous n'avez créé aucun groupe. <a href="/user/{{ user.id }}/groupes" class="alert-link">Créer mon premier groupe.</a>
  </div>
{% else %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, vous avez créé un groupe.
  </div>
{% endif %}

{# Check if the user has added a payment method (use the Drupal Commerce module) #}
{% if drupal_view_result('utilisateur_page_liste_des_taches_mode_de_paiement', 'block_1') is empty %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Vous n'avez enregistré aucun mode de paiement. <a href="/user/{{ user.id }}/payment-methods" class="alert-link">Enregistrer un mode de paiement.</a>
  </div>
{% else %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, vous avez enregistré un mode de paiement.
  </div>
{% endif %}