{# Check if there are nodes in the Group #}
{% if drupal_view_result('groupe_page_liste_des_taches_aucun_contenu', 'block_1') is empty %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Vous n'avez aucun contenu dans votre groupe. <a href="/group/{{ group.id.value }}/nodes" class="alert-link">Créer mon premier contenu.</a>
  </div>
{% else %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, vous avez créé du contenu dans votre groupe.
  </div>
{% endif %}

{# Checks if nodes are not published in the Group #}
{% if drupal_view_result('groupe_page_liste_des_taches_contenu_non_publie', 'block_1') is empty %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, tous vos contenus sont publiés.
  </div>
{% else %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Attention, vous avez {{ drupal_view_result('groupe_page_liste_des_taches_contenu_non_publie', 'block_1')|length }} contenu(s) en attente de publication.
  </div>
{% endif %}