{# Check if the store has products #}
{% if drupal_view_result('boutique_page_liste_des_taches_aucun_produit', 'block_1') is empty %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Vous n'avez aucun produit dans votre boutique. <a href="/stote/{{ store_entity.id }}/products" class="alert-link">Créer mon premier produit.</a>
  </div>
{% else %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, vous avez créé des produits dans votre boutique.
  </div>
{% endif %}

{# Check if products have no variation #}
{% if drupal_view_result('boutique_page_liste_des_taches_aucune_variation', 'block_1') is empty %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, tous vos produits ont au moins une variation.
  </div>
{% else %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Certains de vos produits n'ont aucunes variations. <a href="/node/173" class="alert-link">Comment créer des variations de produit.</a>
  </div>
{% endif %}

{# Check if there are any pending orders in the store #}
{% if drupal_view_result('boutique_page_liste_des_taches_commande', 'block_1') is empty %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, toutes les commandes ont été traitées.
  </div>
{% else %}
   <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Attention, vous avez {{ drupal_view_result('boutique_page_liste_des_taches_commande', 'block_1')|length }} commande(s) à traiter.
  </div>
{% endif %}

{# Check if the store has shipping methods #}
{% if drupal_view_result('boutique_page_liste_des_taches_mode_de_livraison', 'block_1') is empty %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Attention, vous n'avez configuré aucun mode de livraison.
  </div>
{% else %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, vous avez configuré au moins un mode de livraison.
  </div>
{% endif %}

{# Checks if the store has payment gateways #}
{% if drupal_view_result('boutique_page_liste_des_taches_passerelle_de_paiement', 'block_1') is empty %}
  <div class="alert alert-danger task-list-danger" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Attention, vous n'avez configuré aucune passerelle de paiement.
  </div>
{% else %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, vous avez configuré au moins une passerelle de paiement.
  </div>
{% endif %}

{# Checks if the store has unpublished products #}
{% if drupal_view_result('boutique_page_liste_des_taches_produit_non_publie', 'block_1') is empty %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, tous vos produits sont publiés.
  </div>
{% else %}
  <div class="alert alert-warning task-list-warning" role="alert">
    <i class="far fa-sad-cry fa-lg"></i> Attention, vous avez {{ drupal_view_result('boutique_page_liste_des_taches_produit_non_publie', 'block_1')|length }} produit(s) en attente de publication.
  </div>
{% endif %}

{# Check if the store owner has the premium_merchant role #}
{% if drupal_view_result('boutique_page_liste_des_taches_role_marchand', 'block_1') is empty %}
  <div class="alert alert-warning task-list-warning" role="alert">
    <i class="far fa-surprise fa-lg"></i> Dommage, vous n'avez pas de compte marchand premium. Vos produits ne pourront donc pas être commandés directement en ligne. <a href="/node/282" class="alert-link">Activer mon compte premium.</a>
  </div>
{% else %}
  <div class="alert alert-success task-list-success" role="alert">
    <i class="far fa-smile-beam fa-lg"></i> Parfait, vous avez un compte marchand premium.
  </div>
{% endif %}